#Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.log.*

#Terraform plan files
*.tfplan
*.tfplan.json

# Variable files containing secrets

# compressed files .zip & tar.gz
aws-disaster-recovery.tar.tz
aws-disaster-recovery.zip